{% load static %}
<div class="header-container">
    <header class="header">
      <link rel="stylesheet" href="stateracss taskmain.css">
      <link rel="stylesheet" href="https://use.typekit.net/yvb6gjg.css">
      <link rel="stylesheet" href="https://use.typekit.net/yvb6gjg.css">
      <nav class="nav">
        <img src="new logo 2@2x.png" class="nav-logo" alt="Logo">
        <a class="nav-link" href="statera taskmain.html">Statera</a>
      </nav>
    </header>
    <body class="background">
      
    </body>
  </div>
  
  