{% load static %}
<div class="header-container">
    <header class="header">
      <link rel="stylesheet" href="{% static 'css/stateracss task info.css' %}">
      <link rel="stylesheet" href="https://use.typekit.net/yvb6gjg.css">
      <link rel="stylesheet" href="https://use.typekit.net/yvb6gjg.css">
      <nav class="nav">
        <img src="{% static 'images/new logo 2@2x.png' %}" class="nav-logo" alt="Logo">
        <a class="nav-link" href="{% url 'dashboard' %}">Statera</a>
      </nav>
    </header>
    <body class="background">
      <div class="content">
        <div class="task-name">{{ task_name }}</div>
        <a class="project-name" href="{% url 'project_main' project_id %}">{{ project_name }}</a>
        <p class="description">
          {{description}}
        </p>
        <div class="task-details">
          <p><strong>Due Date: </strong>{{due_date}}</p>
          <div class="progress-bar-container">
            <div class="progress-bar">
              <div class="progress" style="width: {{ progress|floatformat:0 }}%;"></div>
            </div>
            <span class="progress-ratio">{{actual_hours|floatformat:0}}/{{estimated_hours|floatformat:0}} hrs</span>
          </div>
        </div>
      </div>
    </body>
  </div>
  
  