
{% load static %}
<div class="header-container">
  <header class="header">
      <link rel="stylesheet" href="{% static 'css/stateracss projectmain.css' %}">
      <link rel="stylesheet" href="https://use.typekit.net/yvb6gjg.css">
      <nav class="nav">
          <img src="{% static 'images/new logo 2@2x.png' %}" class="nav-logo" alt="Logo">
          <a class="nav-link" href="{% url 'dashboard' %}">Statera</a>
      </nav>
  </header>
  <body class="background">
      <div class="main-content">

          <section class="overview">
              <div class="project-name">{{ project_name }}</div>
              <div class="manager-name"><strong>Manager:</strong> {{ manager_name }}</div>
              <p class="description">
                {{ description }}
              </p>
              <div class="task-details">
                  <p><strong>Due Date: </strong>{{ due_date }}</p>
                  <div class="progress-bar-container">
                      <div class="progress-bar">
                          <div class="progress" style="width: {{ progress|floatformat:0 }}%;"></div>
                      </div>
                      <span class="progress-ratio">{{actual_hours|floatformat:0}}/{{estimated_hours|floatformat:0}} hrs</span>
                  </div>
              </div>
          </section>


          <section class="task-list">
              <h2>Tasks</h2>
              <div class="scrollable-tasks">
                  {% for task in tasks %}
                  <div class="task-item">
                      <div class="task-number">{{ task.0 }}</div>
                      <div class="task-name">
                        <a style="text-decoration: none; color: inherit;" href="{% url 'task_info' task.0 %}">{{ task.1 }}</a>
                      </div>
                  </div>
                  {% empty %}
                  <p class="task-name">No tasks available in this project</p>
                  {% endfor %}

              </div>
          </section>
      </div>

      <section class="participants-list">
          <h2>Participants</h2>
          <div class="participant-header">
              <div><strong>Participant Name</strong></div>
              <div><strong>Task ID</strong></div>
              <div><strong>Task Name</strong></div>
              <div><strong>Progress</strong></div>
              <div><strong>Deadline</strong></div>
          </div>

          <div class="participant-item">
            {% for participant in participants %}
            <a style="text-decoration: none; color: inherit;" href="{% url 'employee_info' participant.6 %}">{{ participant.0 }}</a>
            <div>{{ participant.5 }}</div>
            <a style="text-decoration: none; color: inherit;" href="{% url 'task_info' participant.5 %}">{{ participant.1 }}</a>
            <div>
                <div class="progress-bar">
                    <div class="progress" 
                                style="width:{{ participant.7|floatformat:0 }}%; 
                                {% if participant.7 <= 25 %}
                                    background-color: #F48787;
                                {% elif participant.7 > 25 and participant.6 <= 75 %}
                                    background-color: #FFCE76;
                                {% elif participant.7 > 75 and participant.7 < 100 %}
                                    background-color: #e0ff76;
                                {% else %}
                                    background-color: #2dc77d;
                                {% endif %}">
                            </div>
                </div>
                <div class="progress-ratio">{{ participant.3|floatformat:0}}/{{ participant.4|floatformat:0}} hrs</div>
            </div>
            <div>{{ participant.2 }}</div>
          {% empty %}
          <p>No participants for this project.</p>
          {% endfor %}
          </div>
      </section>
  </body>
</div>
  
<script>
  window.addEventListener("load", adjustTaskListHeight);
window.addEventListener("resize", adjustTaskListHeight);

function adjustTaskListHeight() {
    const overview = document.querySelector(".overview");
    const taskList = document.querySelector(".task-list");

    taskList.style.height = `${overview.offsetHeight}px`;
}
</script>